#!/bin/sh

{{ if and ( .dev_computer ) ( eq .osid "linux-debian" "linux-ubuntu" ) }}
if [ "$(command -v zsh)" ]; then
    echo "Zsh is already installed. Skipping installation."
    exit 0
else
	echo "Installing Zsh on Debian/Ubuntu..."
	{{- if (.ephemeral) -}}
		apt update && apt install -y zsh
	{{- else -}}
		sudo apt update && sudo apt install -y zsh
	{{- end -}}
fi

if [ $? -eq 0 ]; then
    echo "Zsh installed successfully."
else
    echo "Failed to install Zsh."
    exit 1
fi
{{- end -}}
