#!/bin/sh

{{ if and ( .dev_computer ) ( eq .osid "linux-debian" "linux-ubuntu" ) -}}
if command -v apt-get > /dev/null 2>&1; then
    # We remove the 'echo' from inside the template range
	add-apt-repository ppa:neovim-ppa/unstable
	apt update
    apt_packages="{{ range .packages.apt }}{{ . }} {{ end }}"

    if [ -n "$apt_packages" ]; then
        echo "Installing: $apt_packages"
		{{ if (.ephemeral) }}
		DEBIAN_FRONTEND=noninteractive apt-get install -y $apt_packages
		{{ else }}
        	sudo DEBIAN_FRONTEND=noninteractive apt-get install -y $apt_packages
		{{ end }}
    fi

    if ! command -v uv > /dev/null 2>&1; then
        echo "Installing uv..."
        curl -LsSf https://astral.sh/uv/install.sh | sh
        export PATH="$HOME/.local/bin:$PATH"
    fi
else
    echo "apt-get not found. Skipping."
fi

{{ end -}}

echo "Installation complete! Run 'exec zsh' to start your new shell."
