#!/bin/sh

{{ if and (.dev_computer) (eq .osid "linux-debian" "linux-ubuntu") }}
curl -sS https://starship.rs/install.sh | sh -s -- -y
{{ if .ephermeral }}
apt install starship
{{else}}
sudo apt install starship
{{end}}
{{- end -}}
