#!/bin/sh

{{ if and (.dev_computer) ( or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") ) -}}
if command -v apt-get > /dev/null 2>&1; then
    echo "apt-get found. Updating..."
    sudo apt-get update

    # We remove the 'echo' from inside the template range
    apt_packages="{{ range .packages.apt }}{{ . }} {{ end }}"

    if [ -n "$apt_packages" ]; then
        echo "Installing: $apt_packages"
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y $apt_packages
    fi

    if ! command -v uv > /dev/null 2>&1; then
        echo "Installing uv..."
        curl -LsSf https://astral.sh/uv/install.sh | sh
        export PATH="$HOME/.local/bin:$PATH"
    fi
else
    echo "apt-get not found. Skipping."
fi

{{ end -}}

echo "Installation complete! Run 'exec zsh' to start your new shell."
