#!/bin/bash

{{ template "install_functions.sh.tmpl" . }}

{{ if and (.dev_computer) (eq .chezmoi.os "darwin") -}}
echo "macOS detected. Checking for Homebrew..."

if ! command -v brew &> /dev/null; then
    echo "Homebrew not found. Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    if [[ -f /opt/homebrew/bin/brew ]]; then
        eval "$(/opt/homebrew/bin/brew shellenv)"
    elif [[ -f /usr/local/bin/brew ]]; then
        eval "$(/usr/local/bin/brew shellenv)"
    fi
fi

if command -v brew &> /dev/null; then
    echo "Updating Homebrew..."
    brew update

    brew_packages=(
    {{- range .packages.brew }}
        {{ . | quote }}
    {{- end }}
    )

    for pkg in "${brew_packages[@]}"; do
        if ! brew list "$pkg" &>/dev/null; then
            echo "Installing $pkg..."
            brew install "$pkg"
        fi
    done
    
    # Helper functions from .install_functions.sh.tmpl
    install_starship
    install_pynvim
	install_lazygit
    install_zshplugins
else
    echo "Error: Homebrew could not be found or installed."
    exit 1
fi

{{ end -}}

echo "Installation complete!"
