#!/bin/bash

{{ template "install_functions.sh.tmpl" . }}
{{ template "setup_zsh_shell.sh.tmpl" . }}

{{ if and (.dev_computer) ( eq .chezmoi.os "linux" ) -}}
echo "Linux detected. Checking for apt-get..."

if command -v apt-get &> /dev/null; then
    echo "apt-get found. Updating and installing packages."
    apt-get update

    # Generate the package list from data
    apt_packages=(
    {{- range .packages.apt }}
        {{ . | quote }}
    {{- end }}
    )

    if [ ${#apt_packages[@]} -gt 0 ]; then
        echo "Installing: ${apt_packages[*]}"
 		DEBIAN_FRONTEND=noninteractive apt-get install -y "${apt_packages[@]}"
    fi

    if ! command -v uv &> /dev/null; then
        echo "Installing uv..."
        curl -LsSf https://astral.sh/uv/install.sh | sh
		source $HOME/.local/bin/env
    fi

    # Helper functions from .install_functions.sh.tmpl
    install_starship
    install_pynvim
	install_lazygit
    install_zshplugins
else
    echo "apt-get not found. Skipping apt-related installations."
fi

{{ end -}}

setup_zsh_shell

echo "Installation complete! Run 'exec zsh' to start your new shell."
