
{{- $dev_computer := promptBoolOnce . "dev_computer" "Do you do development on this computer? (true/false)" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
	dev_computer = {{ $dev_computer }}
	google_cloud_sdk_path = {{ joinPath .chezmoi.homeDir "Downloads" "google-cloud-sdk" | quote }}

