# Uncomment this line when profiling
# zmodload zsh/zprof

ZSH_DISABLE_COMPFIX="true"

# Plugin manager (Antidote)
zsh_plugins=${ZDOTDIR:-~}/.zsh_plugins.txt
antidote_dir=${ZDOTDIR:-~}/.antidote

source $antidote_dir/antidote.zsh
antidote load

# -----------------------------------------------------------------------------
# LAZY LOAD NVM (Node Version Manager)
# -----------------------------------------------------------------------------
# This setup saves ~1.0s by only loading NVM when you type nvm/node/npm
export NVM_DIR="$HOME/.nvm"
function nvm node npm {
  unfunction nvm node npm
  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
  "$0" "$@"
}

# -----------------------------------------------------------------------------
# EXPORTS & PATHS
# -----------------------------------------------------------------------------
export PATH="$HOME/.local/bin:$PATH"
{{ if eq .chezmoi.os "darwin" -}}
[[ -d /Applications/WezTerm.app/Contents/MacOS ]] && export PATH="/Applications/WezTerm.app/Contents/MacOS:$PATH" 

# Ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"
{{ end -}}

# Go
export PATH=$PATH:$(go env GOPATH)/bin

# # Pyenv (Initializes relatively quickly)
# export PYENV_ROOT="$HOME/.pyenv"
# [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
# eval "$(pyenv init -)"

# Google Cloud SDK
# Note: The completion line below is heavy. If startup is still slow,
# comment out the second line (completion.zsh.inc).
if [ -f "{{ .google_cloud_sdk_path }}/path.zsh.inc" ]; then . "{{ .google_cloud_sdk_path }}/path.zsh.inc"; fi
if [ -f '/Users/daniel.low/Downloads/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/daniel.low/Downloads/google-cloud-sdk/completion.zsh.inc'; fi

# ripgrep
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/config"

# fzf
source <(fzf --zsh)
export FZF_DEFAULT_OPTS="--height=60% --layout=reverse --info=inline --bind='ctrl-/:toggle-preview'"
export FZF_CTRL_T_OPTS="--preview='bat --color=always {}' --preview-window='right:50%'"
export FZF_ALT_C_OPTS="--preview='tree -C {} | head=-200' --preview-window='right:50%'"

# Certs
export SSL_CERT_FILE=/Users/daniel.low/Certs/macOS-cacerts.pem
export REQUESTS_CA_BUNDLE=/Users/daniel.low/Certs/macOS-cacerts.pem
export CURL_CA_BUNDLE=/Users/daniel.low/Certs/macOS-cacerts.pem

# -----------------------------------------------------------------------------
# Pyspark
# -----------------------------------------------------------------------------
{{ if eq .chezmoi.os "darwin" -}}
export JAVA_HOME=$(/usr/libexec/java_home -v 17) 
export PATH="/opt/homebrew/opt/openjdk@17/bin:$PATH"
export SPARK_HOME=$(brew --prefix apache-spark)/libexec
export PATH=$SPARK_HOME/bin:$PATH
{{ end -}}

# -----------------------------------------------------------------------------
# ALIASES & UI
# -----------------------------------------------------------------------------
{{ template "shell_aliases.sh.tmpl" . }}

bindkey -v
HIST_STAMPS="mm/dd/yyyy"

# This prevents Starship's ZLE widget wrapper from causing infinite recursion.
if [[ "${widgets[zle-keymap-select]#user:}" == "starship_zle-keymap-select" || \
      "${widgets[zle-keymap-select]#user:}" == "starship_zle-keymap-select-wrapped" ]]; then
    zle -N zle-keymap-select ""
fi

# Starship 
STARSHIP_CONFIG=~/.config/starship.toml
eval "$(starship init zsh)"

# Generated for envman and tgswitch. Do not edit.
[ -s "$HOME/.config/envman/load.sh" ] && source "$HOME/.config/envman/load.sh"
export PATH=$PATH:$HOME/bin

# Uncomment this line when profiling 
# zprof
