{{ if or ( .work ) (eq .osid "darwin") -}}
# Certs
export SSL_CERT_FILE="${HOME}/Certs/macOS-cacerts.pem"
export REQUESTS_CA_BUNDLE=${HOME}/Certs/macOS-cacerts.pem
export CURL_CA_BUNDLE=${HOME}/Certs/macOS-cacerts.pem
{{ end -}}

{{ if or ( .work ) (eq .osid "darwin") -}}
# Pyspark
export JAVA_HOME=$(/usr/libexec/java_home -v 17) 
export PATH="/opt/homebrew/opt/openjdk@17/bin:$PATH"
export SPARK_HOME=$(brew --prefix apache-spark)/libexec
export PATH=$SPARK_HOME/bin:$PATH
{{ end -}}
