#!/bin/bash

setup_zsh_shell() {
	local zsh_path
    zsh_path=$(command -v zsh)

	if [ "$SHELL" != "$zsh_path" ]; then
        echo "Changing your default shell to Zsh..."
        chsh -s "$zsh_path" "$(whoami)"
    fi
	
	if [ -n "$zsh_path" ]; then
        echo "Switching to Zsh now..."
        exec "$zsh_path" -l
    fi
}
