#!/bin/bash

setup_zsh_shell() {
	# Switch shell to zsh
	if [ "$SHELL" != "$(which zsh)" ]; then
		echo "Changing your default shell to Zsh..."
		# This will ask for your password
		sudo chsh -s "$(which zsh)" "$USER"
	fi
	# Exec zsh
	if command -v zsh &> /dev/null; then
		echo "Switching to Zsh now..."
		exec zsh -l
	fi
}
